{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Отзывы об учреждении</h1>
    <div class="news-div-1">
    <div class="news-div">
                    <div class="news-date-div">
                        <div class="news-border"></div>
                        <div class="news-date">
                            03.06.2023
                        </div>
                        <div class="news-number">
                        №1
                        </div>
                    </div>
                    <div class="news-label">
                        <p>Текст отзыва</p>
                        <br>
                        <br>
                    </div>

    </div>
</div>
{% endblock %}