{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Отзывы об учреждении</h1>
    <div>
        <div>
            <div>
                <span>Дата отзыва</span>
                <b>ФИО кто оставил отзыв</b>
            </div>
            <div>
                <span>Отзыв</span>
                <span>№отзыва</span>
            </div>
        </div>
        <div>
            Текст отзыва
        </div>
    </div>
{% endblock %}