{% extends 'main_page/index.html.twig' %}

{% block main %}
    <div class="">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2b029b903f80c042f63b51468f6d79fb117629b2225fe68e970783d983eb9aba&amp;width=940&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="">
        <i><h2>Территория колледжа</h2></i>
        <b>Наименование: <strong>Территория колледжа</strong></b>
        <b>Заведующий отделением <strong>Антонов Роман Сергеевич</strong></b>
        <b>Адрес(-а): <strong>город Москва, Каланчёвская улица, дом 26, строение 1</strong></b>
        <b>Электронная почта: <strong>antonovrs@kmt.moscow</strong></b>
        <b>Телефон:  <strong> +7(495)300-04-00 Доб. 94</strong></b>
    </div>
    <table class="table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock %}