{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h2 class="label-contactPod">Управляющий совет</h2>
    <div>
    <div class="controlSov-main">
        <h4>Состав управляющего совета</h4>
        <h5>Должность в управ совете</h5>
    </div>
        <div class="controlSov-lider">
            <div><img class="controlSov-img" src="{{'/assets/img/siluet.png'}}" alt=""></div>
            <div class="controlSov-lider-text">
                <h3>ФИО человека</h3>
                <dl>
                    <dt>Основное место работы: </dt>
                    <dd>ГУП "Московский метрополитен"</dd>
                    <dt>Должность:</dt>
                    <dd>Заместитель начальника метрополитена по управлению персоналом</dd>
                    <dt>Адрес электронной почты:</dt>
                    <dd>mezhidova-oa@mosmetro.ru</dd>
                    <dt>Контактный телефон:</dt>
                    <dd>+7 (495) 688-06-73</dd>
                    <dt>Дни и время приема:</dt>
                    <dd>понедельник, 17.30 (по предварительной записи)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="">
        <h3 class="label-contactPod">Иные участники управляющего совета</h3>
<div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="2">ФИО</th>
			<th rowspan="2">Категория члена УС</th>
			<th rowspan="2">Кооптированный член (да/нет)</th>
			<th rowspan="2">Должность в УС</th>
		</tr>
		<tr>
			<th rowspan="2">Место работы</th>
			<th rowspan="2">Должность</th>
			<th rowspan="2">Адрес электронной почты</th>
			<th rowspan="2">Примечание</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
            <td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
    </div>
    <div>
        <h2 class="label-contactPod">Документы управляющего совета</h2>
        <h4 class="label-contactPod">Нормативно-правовые документы</h4>
            <div class="label-contactPod-link">
                <i class="fa-regular fa-file-pdf"><a href="">вставка названия документа(Только pdf формат)</a></i>
            </div>
        <h4 class="label-contactPod">Иные (дополнительные) документы управляющего совета</h4>
            <div class="label-contactPod-link">
                <i class="fa-regular fa-file-pdf"><a href="">название таких то таких то документов (Только pdf формат)</a></i>
            </div>
    </div>
    <div >
        <h4 class="label-contactPod">Заседания управляющего совета</h4>
        <div class="upcoming_meetings">
            <h4 class="label-contactPod">Предстоящие заседания</h4>
            <p class="label-contactPod-link"> В настоящий момент заседаний управляющего совета не запланировано </p>
        </div>
        <div class="past_meetings">
            <h4 class="label-contactPod">Прошедшие заседания</h4>
                <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th  rowspan="2">Дата</th>
			<th  rowspan="2">Повестка</th>
			<th  rowspan="2">Протокол</th>
			<th  rowspan="2">Ссылка на видеозапись</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
	</tbody>
</table>
</div>
        </div>
    </div>
{% endblock %}