{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Управляющий совет</h1>
    <div>
        <h2>Состав управляющего совета</h2>
        <h3>Должность в управ совете</h3>
        <div>
            <div><img src="" alt=""></div>
            <div>
                <h1>ФИО человека</h1>
                <dl>
                    <dt>Основное место работы: </dt>
                    <dd>ГУП "Московский метрополитен"</dd>
                    <dt>Должность:</dt>
                    <dd>Заместитель начальника метрополитена по управлению персоналом</dd>
                    <dt>Адрес электронной почты:</dt>
                    <dd>mezhidova-oa@mosmetro.ru</dd>
                    <dt>Контактный телефон:</dt>
                    <dd>+7 (495) 688-06-73</dd>
                    <dt>Дни и время приема:</dt>
                    <dd>понедельник, 17.30 (по предварительной записи)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="">
        <h3>Иные участники управляющего совета</h3>
            <div>
                <div>
                    <div>
                        <div><p>ФИО</p></div>
                        <div><p>Категория члена УС</p></div>
                        <div><p>Кооптированный член (да/нет)</p></div>
                        <div><p>Должность в УС</p></div>
                        <div><p>Место работы</p></div>
                        <div><p>Должность</p></div>
                        <div><p>Адрес электронной почты</p></div>
                        <div><p>Примечание</p></div>
                    </div>
                    <div>
                        <div><p>Печеная Анна Сегреевна</p></div>
                        <div><p>Директор ОО</p></div>
                        <div><p>Нет</p></div>
                        <div><p>Иное</p></div>
                        <div><p>ГБПОУ КМТ</p></div>
                        <div><p>Директор</p></div>
                        <div><p><a href="mailto:PechenayaAS@kmt.moscow">PechenayaAS@kmt.moscow</a></p></div>
                        <div><p> </p></div>
                    </div>
                </div>
            </div>
    </div>
    <div>
        <h2>Документы управляющего совета</h2>
        <h3>Нормативно-правовые документы</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">вставка названия документа(Только pdf формат)</a></i>
            </div>
        <h3>Иные (дополнительные) документы управляющего совета</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название таких то таких то документов (Только pdf формат)</a></i>
            </div>
    </div>
    <div >
        <h3>Заседания управляющего совета</h3>
        <div class="upcoming_meetings">
            <h4>Предстоящие заседания</h4>
            <p> В настоящий момент заседаний управляющего совета не запланировано </p>
        </div>
        <div class="past_meetings">
            <h4>Прошедшие заседания</h4>
                <div>
                    <div>
                        <div>
                            <div><p>Дата</p></div>
                            <div><p>Повестка</p></div>
                            <div><p>Протокол</p></div>
                            <div><p>Ссылка на видеозапись</p></div>
                        </div>
                        <div>
                            <div><p>31.05.2023</p></div>
                            <div><p><a href="">Повестка заседания</a></p></div>
                            <div><p><a href="" target="_blank">Протокол заседания</a></p></div>
                            <div></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}