{% extends 'main_page/index.html.twig' %}

{% block main %}
{% for pageCont in pageData %}
    {% if pageCont is not empty  %}
        
        <div>
            <h1>Общая информация</h1>
            {{ pageCont.text|raw}}

        </div>
    {% endif %}
{% endfor %}

{% endblock %}