{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Платные образовательные услуги</h1>
    <div>
        <h3>Родительская плата</h3>
        <div>
            <i class="fa-regular fa-file-pdf"><a href="">Название документа</a></i>
        </div>
        <h3>Порядок оказания платных образовательных услуг</h3>
        <div>
            <i class="fa-regular fa-file-pdf"><a href="">Название документа</a></i>
        </div>
    </div>
{% endblock %}