{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Платные образовательные услуги</h1>
    <div>
        <h4 class="label-contactPod">Родительская плата</h3>
        <div class="label-contactPod-link">
            {% for pageCont in pageData %}
                {% if pageCont is not empty %}
                 {% for file in pageCont.parentFolder %}
                    <i class="fa-regular fa-file-pdf"><a class="link-color" href="{{'/assets/upload/files/' ~ file|raw }}">{{ file|raw }}</a></i>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <h4 class="label-contactPod">Порядок оказания платных образовательных услуг</h3>
        <div class="label-contactPod-link">
            {% for pageCont in pageData %}
                {% if pageCont is not empty %}
                    {% for file in pageCont.procedur %}
                        <i class="fa-regular fa-file-pdf"><a class="link-color" href="{{'/assets/upload/files/' ~ file|raw }}">{{file|raw }}</a></i>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}