{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Платные образовательные услуги</h1>
    <div>
        <h4 class="label-contactPod">Родительская плата</h3>
        <div class="label-contactPod-link">
            <i class="fa-regular fa-file-pdf"><a href="">Название документа</a></i>
        </div>
        <h4 class="label-contactPod">Порядок оказания платных образовательных услуг</h3>
        <div class="label-contactPod-link">
            <i class="fa-regular fa-file-pdf"><a href="">Название документа</a></i>
        </div>
    </div>
{% endblock %}