{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Фотогалерея</h1>
    <div>
       <div>
        <a href="">
            <img src="" alt="">
            <span>Название альбома</span>
            <span>Количество фотографий в альбоме</span>
        </a>
       </div>
    </div>
{% endblock %}