{% extends 'main_page/index.html.twig' %}

{% block main %}

{% for pageCont in pageData %}
    {% if pageCont is not empty %}
    <div>
        <h1>{{pageCont.title}}</h1>
        {% for photo in pageCont.photo %}
            <div class="photo-albom">
                <img class="for-galery" src="{{ asset('/assets/upload/img/') ~ photo|raw }}" alt="">
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}