{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Фотогалерея</h1>
<div class="photo-galery">
    <div  class="platform-for-photo-main">
       <div class="platform-for-photo">
        <a href="">
            <img class="for-galery" src="{{'/assets/img/siluet.png'}}" alt="">
            <span>Название альбома</span>
            <span>Количество фотографий в альбоме</span>
        </a>
       </div>
    </div>
    <div  class="platform-for-photo-main">
       <div class="platform-for-photo">
        <a href="">
            <img class="for-galery" src="{{'/assets/img/siluet.png'}}" alt="">
            <span>Название альбома</span>
            <span>Количество фотографий в альбоме</span>
        </a>
       </div>
    </div>
</div>
{% endblock %}