{% extends 'main_page/index.html.twig' %}
{% block title %}Фотогалерея{% endblock %}
{% block main %}

{# {% for pageCont in pageData %} #}
    {% if pageData is not empty %}
    <div>
        <h1>{{pageData.title}}</h1>
    <div class="gallery-photo-albom-all">
        {% for photo in pageData.photo %}
            <div class="photo-albom">
                <img class="for-galery" src="{{ asset('/assets/upload/img/') ~ photo|raw }}" alt="">
            </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}
    
{# {% endfor %} #}
{% endblock %}