{% extends 'main_page/index.html.twig' %}

{% block title %}PageController!{% endblock %}

{% block main %}
    <fieldset>
    <legend>О руководителе образовательной организации</legend>
        <ul>
            <li>
                <div>
                    <div>Федосеева Дарья Сергеевна</div>
                    <ul>
                     <div>
                        <div>Фото</div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Директор</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a>(383) 342 95 26</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a>fedoseevads@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-30 до 17-00
                                    <br>
                                    перерыв на обед с 12-00 до 12-30
                                    <br>
                                    выходной суббота, воскресенье.
                                    <br>
                                    прием по личным вопросам: понедельник с 16.00-17.00
                                    </p>
                                </li>
                            </ul>
                            <h1>
                                <a href="">Подробная информация</a>
                            </h1>
                            <br>
                            <div>
                                Подробная информация о преподе
                            </div>
                        </div>
                     </div>
                    </ul>
                </div>
            </li>
        </ul>
    </fieldset>
    <fieldset>
    <legend>О заместителях руководителя образовательной организации<legend>
     <ul>
        <li>
            <div>
                <div>Мордвинова Екатерина Владимировна</div>
                    <ul>
                     <div>
                        <div>Фото</div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Заместитель директора по учебной работе</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a>(383) 342 95 26</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a>mordvinovaev@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-00 до 16-30
                                    <br>
                                    перерыв на обед с 11-30 до 12-00
                                    <br>
                                    выходной день: суббота, воскресенье
                                    <br>
                                    Прием по личным вопросам: четверг с 14:00 до 16:30
                                    </p>
                                </li>
                            </ul>
                            <h1>
                                <a href="">Подробная информация</a>
                            </h1>
                            <br>
                            <div>
                                Подробная информация о преподе
                            </div>
                        </div>
                     </div>
                    </ul>
                </div>
        </li>
        <li>
            <div>
                    <div>Петрова Юлия Николаевна</div>
                    <ul>
                     <div>
                        <div>Фото</div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Заместитель директора по административно-хозяйственной работе</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a>(383) 342 63 49</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a>petrovayun@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-30 до 17-00
                                    <br>
                                    перерыв на обед с 12-00 до 12-30
                                    <br>
                                    выходной суббота, воскресенье.
                                    <br>
                                    прием по личным вопросам: пятница с 14.00-16.00
                                    </p>
                                </li>
                            </ul>
                            <h1>
                                <a href="">Подробная информация</a>
                            </h1>
                            <br>
                            <div>
                                Подробная информация о преподе
                            </div>
                        </div>
                     </div>
                    </ul>
                </div>
        </li>
        <li>
            <div>
                    <div>Девищенко Ольга Борисовна</div>
                    <ul>
                     <div>
                        <div>Фото</div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Заместитель директора по учебно-воспитательной работе</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a>(383) 342 95 26</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a>devischenkoob@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-30 до 17-00
                                    <br>
                                    перерыв на обед с 12-00 до 12-30
                                    <br>
                                    выходной суббота, воскресенье.
                                    <br>
                                    прием по личным вопросам: пятница с 14.00-16.00
                                    </p>
                                </li>
                            </ul>
                            <h1>
                                <a href=""></a>
                            </h1>
                            <br>
                            <div>
                                Подробная информация о преподе
                            </div>
                        </div>
                     </div>
                    </ul>
                </div>
        </li>
     </ul>
    </fieldset>
    <fieldset>
        <legend>Персональный состав педагогических работников каждой реализуемой образовательной программы в форме электронного документа</legend>
            <ul>
                <li>
                <a href="" ></a>
                </li>
            </ul>
    </fieldset>
    <div>
        <i><a>Фотогалерея сотрудников</a></i>
        <div>
         <div>
            <div>
                <img>
            </div>
            <p>Ф.И.О сотрудника</p>
            <p>Должность</p>
         </div>
        </div>
    </div>
{% endblock %}
