

{% extends 'main_page/index.html.twig' %}

{% block main %}
        <table>
            <thead>
                <tr>
                            <th>Наименование</th>
                            <th colspan="2">Время работы</th>
                            <th>Специалист</th>
                            <th>Контактный телефон</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
{% endblock %}