{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Документы</h1>
    <div class="label-contactPod">
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
         <div class="text-style">
            <div>
                {% for file in pageCont.treaty %}
                <i class="fa-regular fa-file-pdf"><a href="{{asset('/assets/upload/files/') ~ file|raw }}">{{ file|raw }}</a></i>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
<h3>Иные документы</h3>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
         <div class="text-style">
            <div>
                {% for file in pageCont.vaccination %}
                <i class="fa-regular fa-file-pdf"><a href="{{asset('/assets/upload/files/') ~ file|raw }}">{{ file|raw }}</a></i>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
    </div>
{% endblock %}