{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Документы</h1>
    <div>
        <div>
            <h3>ПРАВОУСТАНАВЛИВАЮЩИЕ ДОКУМЕНТЫ</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название документа</a></i>
            </div>
        </div>
        <div>
            <h3>ЛОКАЛЬНЫЕ АКТЫ</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название документа</a></i>
            </div>
        </div>
        <div>
            <h3>КОЛЛЕКТИВНО - ДОГОВОРНОЕ РЕГУЛИРОВАНИЕ</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название документа</a></i>
            </div>
        </div>
        <div>
            <h3>ФИНАНСОВАЯ ДЕЯТЕЛЬНОСТЬ</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название документа</a></i>
            </div>
        </div>
        <div>
            <h3>ОТЧЕТ О РЕЗУЛЬТАТАХ САМООБСЛЕДОВАНИЯ</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название документа</a></i>
            </div>
        </div>
         <div>
            <h3>РЕЗУЛЬТАТЫ ПРОВЕРОК</h3>
            <div>
                <i class="fa-regular fa-file-pdf"><a href="">название документа</a></i>
            </div>
        </div>
    </div>
{% endblock %}