{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Это важно знать</h1>
<div class="label-contactPod">
    <div>
        <ul>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</div>
{% endblock %}