{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Организация медицинского обслуживания</h1>
<div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="2">Номер образовательной площадки</th>
            <th rowspan="2">Адрес Образовательной площадки</th>
			<th rowspan="2">Медицинское учреждение</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}