{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>График проведения медецинских осмотров</h1>
    <div>
        <strong>График</strong>
    </div>
    <table border="1" cellpadding="0" cellspacing="0" style="width:1007px;" width="0">
	<tbody>
		<tr>
			<td rowspan="2" style="width:54px;height:17px;">
			<p align="center">№ п/п</p>
			</td>
			<td rowspan="2" style="width:441px;height:17px;">
			<p align="center">Адрес образовательной площадки</p>
			</td>
			<td colspan="5" style="width:512px;height:17px;">
			<p align="center">Дни недели</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;height:16px;">
			<p align="center">понедельник</p>
			</td>
			<td style="width:93px;height:16px;">
			<p align="center">вторник</p>
			</td>
			<td style="width:90px;height:16px;">
			<p align="center">среда</p>
			</td>
			<td style="width:98px;height:16px;">
			<p align="center">четверг</p>
			</td>
			<td style="width:124px;height:16px;">
			<p align="center">пятница</p>
			</td>
		</tr>
		<tr>
			<td style="width:54px;height:47px;">
			<p align="center">1</p>
			</td>
			<td style="width:441px;height:47px;">
			<p align="center">г. Москва&nbsp; ул. Каланчевская д. 26 стр.1,2,3</p>
			</td>
			<td style="width:108px;height:47px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:93px;height:47px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:90px;height:47px;">
			<p align="center">09.00-15.00</p>
			</td>
			<td style="width:98px;height:47px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:124px;height:47px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:54px;height:43px;">
			<p align="center">2</p>
			</td>
			<td style="width:441px;height:43px;">
			<p align="center">г. Москва ул. Бойцовая д. 6 к.8Б</p>
			</td>
			<td style="width:108px;height:43px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:93px;height:43px;">
			<p align="center">12.30-16.30</p>
			</td>
			<td style="width:90px;height:43px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:98px;height:43px;">
			<p align="center">12.30-16.30</p>
			</td>
			<td style="width:124px;height:43px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:54px;height:43px;">
			<p align="center">3</p>
			</td>
			<td style="width:441px;height:43px;">
			<p align="center">г. Москва Напольный проезд д.7</p>
			</td>
			<td style="width:108px;height:43px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:93px;height:43px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:90px;height:43px;">
			<p align="center">09.00-15.00</p>
			</td>
			<td style="width:98px;height:43px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:124px;height:43px;">
			<p align="center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:54px;height:42px;">
			<p align="center">4</p>
			</td>
			<td style="width:441px;height:42px;">
			<p align="center">г. Москва ул. Михалковская д. 52</p>
			</td>
			<td style="width:108px;height:42px;">
			<p align="center">11.30-15.40</p>
			</td>
			<td style="width:93px;height:42px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:90px;height:42px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:98px;height:42px;">
			<p align="center">&nbsp;</p>
			</td>
			<td style="width:124px;height:42px;">&nbsp;</td>
		</tr>
	</tbody>
</table>
{% endblock %}