{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">График проведения медецинских осмотров</h1>
    <div class="medical-exam-label">
        <strong>График</strong>
		<p>работы медицинских кабинетов в ГАПОУ НКПиС в 2022-2023 учебном году</p>
    </div>
    <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="2">№ п/п</th>
            <th rowspan="2">Адрес образовательной площадки</th>
			<th colspan="5">Дни недели</th>
		</tr>
		<tr>
			<th>понедельник</th>
			<th>вторник</th>
			<th>среда</th>
			<th>четверг</th>
			<th>пятница</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
           	<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}