{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Организация медицинского обслуживания</h1>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
		<a href="{{ pageCont.importantKnow|raw }}">Это важно знать о COVID-19</a>
		<a href="{{ pageCont.recommendations|raw }}">Рекомендации РОСПОТРЕБНАДЗОРА</a>
	{% endif %}
{% endfor %}
<div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="2">Медицинское учреждение</th>
		</tr>
	</thead>
	<tbody>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
		<tr>
			<td>{{ pageCont.text|raw }}</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}