{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Психологическая поддержка ребенка</h1>
    <p>Какой то текст</p>
    <p>Какой то текст</p>
    <ul>
        <li><span>Какие то пункты списка</span></li>
    </ul>
{% endblock %}