{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Психологическая поддержка ребенка</h1>
    <div class="label-contactPod">
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
        <p>{{ pageCont.textOne|raw }}</p>
        <p>{{ pageCont.textTwo|raw }}</p>
        <h4>{{ pageCont.subTitle|raw }}</h4>
        <p>{{ pageCont.textTree|raw }}</p>
    {% endif %}
{% endfor %}
    </div>
{% endblock %}