{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Отзывы об учреждении</h1>
    {# Шаблон вопроса #}
    <div>
        <div>
            <div>
                <span>Дата вопроса</span>
                <b>ФИО кто оставил вопрос</b>
            </div>
            <div>
                <span>Вопрос</span>
                <span>№ вопроса</span>
            </div>
        </div>
        <div>
            Текст вопроса
        </div>
    </div>
    {# Шаблон ответа #}
        <div>
        <div>
            <div>
                <span>Дата ответа</span>
                <b>ФИО кто оставил ответ</b>
            </div>
            <div>
                <span>Ответ на вопрос: <b>№ на какой вопрос отвечают</b></span>
            </div>
        </div>
        <div>
            Текст ответа
        </div>
    </div>
{% endblock %}