{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Вакантные места для приёма (перевода) обучающихся</h1>
    <div>
        <table>
            <tbody>
                <tr><td>Наличие вакантных  мест в колледже по состоянию на <span>(дата)</span></td></tr>
                <tr></tr>
                <tr>
                    <td>Профессия / Специальность</td>
                    <td>Программа обучения на базе</td>
                    <td>Количество бюджетных мест</td>
                    <td>Количество внебюджетных мест</td>
                    <td>Адрес площадки</td>
                </tr>
                <tr>
                    <td><strong>1 курс</strong></td>
                </tr>
                <tr>
                    <td>Специальность</td>
                    <td>класс</td>
                    <td>Кол-во бюджетных мест</td>
                    <td>Количество внебюджетных мест</td>
                    <td>Адрес площадки</td>
                </tr>
                <tr>
                    <td><strong>2 курс</strong></td>
                </tr>
                <tr>
                    <td>Специальность</td>
                    <td>класс</td>
                    <td>Кол-во бюджетных мест</td>
                    <td>Количество внебюджетных мест</td>
                    <td>Адрес площадки</td>
                </tr>
                <tr>
                    <td><strong>3 курс</strong></td>
                </tr>
                <tr>
                    <td>Специальность</td>
                    <td>класс</td>
                    <td>Кол-во бюджетных мест</td>
                    <td>Количество внебюджетных мест</td>
                    <td>Адрес площадки</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}