{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Вакантные места для приёма (перевода) обучающихся</h1>
<div class="contactPod-table">
    <table class="table">
	<thead>
        <tr>
            <th rowspan="1">Наличие вакантных  мест в колледже по состоянию на 01.06.2023</th>
        </tr>
		<tr>
			<th rowspan="2">Профессия / Специальность</th>
            <th rowspan="2">Программа обучения на базе</th>
			<th rowspan="2">Количество бюджетных мест</th>
			<th rowspan="2">Количество внебюджетных мест</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}