{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Доступная среда</h1>
    {% for pageCont in pageData %}
        {% if pageCont is not empty %}
            <p class="label-contactPod">{{pageCont.text|raw}}</p>
             {% for photo in pageCont.photo %}
                        <img src="{{ '/assets/upload/img/' ~ photo|raw }}" alt="">
                {% endfor %}
            <p class="label-contactPod">{{pageCont.textTwo|raw}}</p>
        {% endif %}
    {% endfor %}
    
{% endblock %}