{% block main %}
    <h1 class="label-contactPod">Материально-техническое обеспечение и оснащенность образовательного процесса</h1>
    <div>
    <h3>СВЕДЕНИЯ О НАЛИЧИИ ОБОРУДОВАННЫХ УЧЕБНЫХ КАБИНЕТОВ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Кабинеты</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <table>
                                    <thead>
                                        <tr>
                                            <th>№п/п</th>
                                            <th>Наименование учебных кабинетов</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
    <div>
    <h3>СВЕДЕНИЯ ОБ ОБЪЕКТАХ ДЛЯ ПРОВЕДЕНИЯ ПРАКТИЧЕСКИХ ЗАНЯТИЙ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Лаборатории и мастерские</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <table>
                                    <thead>
                                        <tr>
                                            <th>№п/п</th>
                                            <th>Наименование учебных кабинетов</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
    <div>
    <h3>СВЕДЕНИЯ О БИБЛИОТЕКАХ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Библиотеки</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <table>
                                    <thead>
                                        <tr>
                                            <th>№п/п</th>
                                            <th>Наименование учебных кабинетов</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
    <div>
        <h3>СВЕДЕНИЯ ОБ ОБЪЕКТАХ СПОРТА</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Спортивные объекты</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Территория</th>
                                            <th>Наименование объекта</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
    <div>
        <h3>СВЕДЕНИЯ О СРЕДСТВАХ ОБУЧЕНИЯ И ВОСПИТАНИЯ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Средства обучения и воспитания</label>
                        <div class="tab-content">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
    </div>
    <div>
        <h3>СВЕДЕНИЯ ОБ УСЛОВИЯХ ПИТАНИЯ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Питание</label>
                        <div class="tab-content">
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div>
                    </div>
    </div>
    <div>
        <h3>СВЕДЕНИЯ ОБ УСЛОВИЯХ ОХРАНЫ ЗДОРОВЬЯ ОБУЧАЮЩИХСЯ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Медицинское обслуживание</label>
                        <div class="tab-content">
                            <p></p>
                        </div>
                    </div>
    </div>
    <div>
        <h3>СВЕДЕНИЯ О ДОСТУПЕ К ИНФОРМАЦИОННЫМ СИСТЕМАМ И ИНФОРМАЦИОННО-ТЕЛЕКОММУНИКАЦИОННЫМ СЕТЯМ</h3>
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Доступ к информационным системам</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Территория</th>
                                            <th>Доступ к сети интернет</th>
                                            <th>Скорость</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
{% endblock %}