{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Образовательные стандарты и требования</h1>

        <p class="label-contactPod"><a href="https://edu.gov.ru/">Официальный сайт Министерства просвещения Российской Федерации</a></p>
    <div class="label-contactPod">
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one7">ФГОС НСО</label>
                        <div class="tab-content">
                        <div class="label-contactPod">
                            <div class="text-style">
                                <div>
                                    {% for pageCont in pageData %}
                                        {% if pageCont is not empty %}
                                            <i class="fa-regular fa-file-pdf">
                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                            </i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
    </div>
{% endblock %}