{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Образование</h1>
    <div >
        <div class="label-contactPod">
            <h3>Язык преподаваня</h3>
            <p>Русский язык</p>
        </div>
        <div>
            <h3 class="label-contactPod">Сведения о реализации образовательных программ</h3>
        <div class="contactPod-table">
            <table class="table">
                        <thead>
                        <tr>
                            <th rowspan="2">Уровень образования</th>
                            <th rowspan="2">Нормативный срок обучения</th>
                            <th colspan="2">Количество обучающихся</th>
                            <th rowspan="2">Численность обучающихся, являющихся иностранными гражданами</th>
                        </tr>
                        <tr>
                            <th >
                                За счет средств бюджета
                            </th>
                            <th >
                                По договорам
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cреднее профессиональное</td>
                                <td>
                                    от 10 месяцев до 4 лет 10 месяцев
                                </td>
                                <td>
                                    1940
                                </td>
                                <td>
                                    1169
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div >
            <h3 class="label-contactPod">Сведения о реализации образовательных программ дополнительного образования</h3>
        <div class="label-contactPod" >
            <div class="tab-page-student">   
                    <input id="tab-one1" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one1">Техническая направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one2" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one2">Физкультурно-спортивная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one3" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one3">Естественно-научная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                               <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one4" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one4">Социально-гуманитарная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one5" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one5">Туристско-краеведческая направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one6" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one6">Художественная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
        <div>
        <h3 class="label-contactPod">Сведения о результатах приема</h3>
        <div class="contactPod-table">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">Наименование профессии/специальности</th>
                        <th colspan="2">Количество поступивших</th>
                        <th rowspan="2">Средняя сумма баллов по всем вступительным испытаниям (при наличии)</th>
                        <th colspan="2">Сведения о результатах</th>
                        <th rowspan="2">Сведения о результатах перевода</th>
                    </tr>
                    <tr>
                        <th>За счет средств бюджета</th>
                        <th>По договорам</th>
                        <th>Восстановления</th>
                        <th>Отчисления</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div>
            <div class="label-contactPod">
                <h4>ЛИЦЕНЗИЯ НА ПРАВО ВЕДЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ:</h4>
                 <div class="contactPod-table">
            <table class="table">
                <thead>
                    <tr>
                        <th >Серия</th>
                        <th >№</th>
                        <th >Рег.номер</th>
                        <th >Дата окончания срока действия:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
        <div>
           <div class="label-contactPod">
                <h4>СВИДЕТЕЛЬСТВО О ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ:</h4>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 class="label-contactPod">Формы обучения</h3>
        <div class="contactPod-table">
            <table class="table">
                <thead>
                    <tr><th>Форма обучения:</th></tr>
                </thead>
                <tbody>
                    <tr><th>Очная</th></tr>
                    <tr><th>Заочная</th></tr>
                    <tr><th>Дистанционная</th></tr>  
                </tbody>
            </table>
        </div>
        </div>
    </div>

{% endblock %}