{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Образование</h1>
    <div>
        <div>
            <h3>Язык преподаваня</h3>
            <p>Русский язык</p>
        </div>
        <div>
            <h3>Сведения о реализации образовательных программ</h3>
            <table>
                        <thead>
                        <tr>
                            <th rowspan="2">Уровень образования</th>
                            <th rowspan="2">Нормативный срок обучения</th>
                            <th colspan="2">Количество обучающихся</th>
                            <th rowspan="2">Численность обучающихся, являющихся иностранными гражданами</th>
                        </tr>
                        <tr>
                            <th style="vertical-align:top;">
                                За счет средств бюджета
                            </th>
                            <th style="vertical-align:top;">
                                По договорам
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cреднее профессиональное</td>
                                <td>
                                    от 10 месяцев до 4 лет 10 месяцев
                                </td>
                                <td>
                                    1940
                                </td>
                                <td>
                                    1169
                                </td>
                                <td>
                                    <span id="external_prof">0</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>
        <div>
            {# здесь должны быть табы #}
        </div>
        <div>
        <h3>Сведения о результатах приема</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Наименование профессии/специальности</th>
                        <th colspan="2">Количество поступивших</th>
                        <th rowspan="2">Средняя сумма баллов по всем вступительным испытаниям (при наличии)</th>
                        <th colspan="2">Сведения о результатах</th>
                        <th rowspan="2">Сведения о результатах перевода</th>
                    </tr>
                    <tr>
                        <th>За счет средств бюджета</th>
                        <th>По договорам</th>
                        <th>Восстановления</th>
                        <th>Отчисления</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div>
                <h3>ЛИЦЕНЗИЯ НА ПРАВО ВЕДЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ:</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
        </div>
        <div>
           <div>
                <h3>СВИДЕТЕЛЬСТВО О ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ:</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Формы обучения</h3>
            <table>
                <thead>
                    <tr><th>Форма обучения:</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>очная</td>
                        <td>заочная</td>
                        <td>дистанционная</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}