{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Образовательные стандарты и требования</h1>

        <p class="label-contactPod"><a href="">Официальный сайт Министерства просвещения Российской Федерации</a></p>
    <div class="label-contactPod">
        <div class="tab-page-student">  
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one7">ФГОС НСО</label>
                        <div class="tab-content">
                        <div class="label-contactPod">
                            <div class="text-style">
                                <div>
                                    <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
    </div>
{% endblock %}