{% extends 'main_page/index.html.twig' %}


{% block main %}
    <h1 class="label-contactPod">Основные сведения</h1>
    <div>
        <ul>
            <li>ПОЛНОЕ НАИМЕНОВАНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ: <li>Государственное автономное профессиональное образовательное учреждение Новосибирской области «Новосибирский колледж питания и сервиса» </li></li>
            <li>СОКРАЩЕННОЕ НАИМЕНОВАНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ: <li>ГАПОУ НСО «Новосибирский колледж питания и сервиса»</li></li>
            <li>ДАТА СОЗДАНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ: <li>31.08.1954</li></li>
        </ul>
        <ul>
            <li>СВЕДЕНИЯ ОБ УЧРЕДИТЕЛЕ:</li>
            <li>ПРАВИТЕЛЬСТВО НОВОСИБИРСКОЙ ОБЛАСТИ</li>
                <li><strong>Руководитель: </strong>Губернатор - Травников Андрей Александрович</li>
                <li><strong>Адрес: </strong>630011 г. Новосибирск, Красный проспект, д.18</li>
                <li><strong>Телефоны: </strong>(383) 223-08-62</li>
                <li><strong>Сайт: </strong><a href="http://www.nso.ru/">http://www.nso.ru/</a></li>
            <li>ДЕПАРТАМЕНТ ИМУЩЕСТВА И ЗЕМЕЛЬНЫХ ОТНОШЕНИЙ НОВОСИБИРСКОЙ ОБЛАСТИ</li>
                <li><strong>Руководитель: </strong>Шилохвостов Роман Геннадьевич</li>
                <li><strong>Адрес: </strong>630011 г. Новосибирск, Красный проспект, д.18, кабинет 241</li>
                <li><strong>Телефоны: </strong>(383) 223-95-26</li>
                <li><strong>Сайт: </strong><a href="http://dizo.nso.ru/">http://dizo.nso.ru/</a></li>
            <li>МИНИСТЕРСТВО ОБРАЗОВАНИЯ НОВОСИБИРСКОЙ ОБЛАСТИ</li>
                <li><strong>Руководитель: </strong>Федорчук Сергей Владимирович</li>
                <li><strong>Адрес: </strong>630007, г. Новосибирск, Красный пр-т, д. 18, кабинет 65</li>
                <li><strong>Телефоны: </strong>(383) 238-73-20</li>
                <li><strong>Сайт: </strong><a href="https://minobr.nso.ru/">https://minobr.nso.ru/</a></li>
            <li>МЕСТО НАХОЖДЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</li>
                <li><strong>Юридический адрес:</strong><p>630106, Российская Федерация, Сибирский федеральный округ, Новосибирская обл., г. Новосибирск, ул. Зорге, дом 2</p></li>
            <li>РЕЖИМ И ГРАФИК РАБОТЫ</li>
                <li><p>понедельник-суббота, с 08:00 до 20:00, выходной: воскресенье</p></li>
            <li>КОНТАКТЫ</li>
                <li><strong>Контактный телефон:</strong>
                    <p>(383) 342-95-26 (учебная часть)</p>
                    <p>(383) 342-63-49 (приемная директора колледжа)</p>
                </li>
                <li><strong>Факс:</strong>
                    <p>(383) 342 95 26</p>
                </li>
                <li><strong>Адрес электронной почты:</strong>
                    <p>nkps@edu54.ru</p>
                </li>
                <li><strong>Официальные страницы в социальных сетях:</strong>
                    <a href="">Телеграм</a>
                    <a href="">ВКонтакте</a>
                    <a href="">Одноклассники</a>
                </li>
                <li><strong>ПРЕДСТАВИТЕЛЬСТВА:</strong>организация не имеет представительств</li>
                <li><strong>ФИЛИАЛЫ:</strong>Организация не имеет филиалов</li>
        </ul>
    </div>
{% endblock %}