{% extends 'main_page/index.html.twig' %}
{% block title %}Основные сведения{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Основные сведения</h1>
    <div class="label-contactPod">
        <ul>
            <li>ПОЛНОЕ НАИМЕНОВАНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ: </li><br><p>Государственное автономное профессиональное образовательное учреждение Новосибирской области «Новосибирский колледж питания и сервиса» </p>
            <li>СОКРАЩЕННОЕ НАИМЕНОВАНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ:</li><br><p>ГАПОУ НСО «Новосибирский колледж питания и сервиса»</p>
            <li>ДАТА СОЗДАНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ: </li><br><p>31.08.1954</p>
        </ul>
        <ul>
            <li>СВЕДЕНИЯ ОБ УЧРЕДИТЕЛЕ:</li>
            ПРАВИТЕЛЬСТВО НОВОСИБИРСКОЙ ОБЛАСТИ
                <li class="spisoc-decor"><strong>Руководитель: </strong>Губернатор - Травников Андрей Александрович</li>
                <li class="spisoc-decor"><strong>Адрес: </strong>630011 г. Новосибирск, Красный проспект, д.18</li>
                <li class="spisoc-decor"><strong>Телефоны: </strong>(383) 223-08-62</li>
                <li class="spisoc-decor"><strong>Сайт: </strong><a href="http://www.nso.ru/">http://www.nso.ru/</a></li>
                <br>
            <li>ДЕПАРТАМЕНТ ИМУЩЕСТВА И ЗЕМЕЛЬНЫХ ОТНОШЕНИЙ НОВОСИБИРСКОЙ ОБЛАСТИ</li>
                <li class="spisoc-decor"><strong>Руководитель: </strong>Шилохвостов Роман Геннадьевич</li>
                <li class="spisoc-decor"><strong>Адрес: </strong>630011 г. Новосибирск, Красный проспект, д.18, кабинет 241</li>
                <li class="spisoc-decor"><strong>Телефоны: </strong>(383) 223-95-26</li>
                <li class="spisoc-decor"><strong>Сайт: </strong><a href="http://dizo.nso.ru/">http://dizo.nso.ru/</a></li>
                <br>
            <li>МИНИСТЕРСТВО ОБРАЗОВАНИЯ НОВОСИБИРСКОЙ ОБЛАСТИ</li>
                <li class="spisoc-decor"><strong>Руководитель: </strong>Федорчук Сергей Владимирович</li>
                <li class="spisoc-decor"><strong>Адрес: </strong>630007, г. Новосибирск, Красный пр-т, д. 18, кабинет 65</li>
                <li class="spisoc-decor"><strong>Телефоны: </strong>(383) 238-73-20</li>
                <li class="spisoc-decor"><strong>Сайт: </strong><a href="https://minobr.nso.ru/">https://minobr.nso.ru/</a></li>
                <br>
            <li>МЕСТО НАХОЖДЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</li>
                <li class="spisoc-decor"><strong>Юридический адрес:</strong><p>630106, Российская Федерация, Сибирский федеральный округ, Новосибирская обл., г. Новосибирск, ул. Зорге, дом 2</p></li>
            <li>РЕЖИМ И ГРАФИК РАБОТЫ</li>
                <li class="spisoc-decor"><p>понедельник-суббота, с 08:00 до 20:00, выходной: воскресенье</p></li>
            <li>КОНТАКТЫ</li>
                <li class="spisoc-decor"><strong>Контактный телефон:</strong>
                    <p>(383) 342-95-26 (учебная часть)</p>
                    <p>(383) 342-63-49 (приемная директора колледжа)</p>
                </li>
                <li class="spisoc-decor"><strong>Факс:</strong>
                    <p>(383) 342 95 26</p>
                </li>
                <li class="spisoc-decor"><strong>Адрес электронной почты:</strong>
                    <p>nkps@edu54.ru</p>
                </li>
                <li class="spisoc-decor"><strong>Официальные страницы в социальных сетях:</strong>
                <ul>
                    <li class="spisoc-decor"><a href="">Телеграм</a></li>
                     <li class="spisoc-decor"><a href="">ВКонтакте</a></li>
                     <li class="spisoc-decor"><a href="">Одноклассники</a></li>
                </ul>
                </li>
                <br>
                <li><strong>ПРЕДСТАВИТЕЛЬСТВА:</strong>&nbsp;Организация не имеет представительств</li>
                <br>
                <li><strong>ФИЛИАЛЫ:</strong>&nbsp;Организация не имеет филиалов</li>
        </ul>
    </div>
{% endblock %}