{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Платежные реквизиты</h1>

    <div class="label-contactPod">
        <h3>Лицевой счет учреждения</h3>
        <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                            <td>№ п/п</td>
                            <td>Тип лицевого счета</td>
                            <td>Орган ФКУ</td>
                            <td>№ лицевого счета</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="label-contactPod">
        <h3>Расчетный счет учреждения</h3>
        <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                            <td>№ п/п</td>
                            <td>Наименование банка</td>
                            <td>Отделение банка</td>
                            <td>№ расчетного счета</td>
                            <td>№ корреспондентского счета</td>
                            <td>БИК</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
        <br>
        <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                            <td>ИНН</td>
                            <td>КПП</td>
                            <td>ОКАТО</td>
                            <td>ОГРН</td>
                            <td>ОКТМО</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}