 {% extends 'main_page/index.html.twig' %}

{% block main %}
<h1 class="label-contactPod">Публичный доклад руководителя</h1>
        <div class="label-contactPod">
        <div class="text-style">
            <div>
                {% for pageCont in pageData %}
                    {% if pageCont is not empty %}
                        <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.file|raw }}">{{pageCont.title|raw}}</a>
                        </i>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
{% endblock %}