 {% extends 'main_page/index.html.twig' %}

{% block main %}
<div class="text-style">
    <div>
        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
    </div>
</div>
{% endblock %}