{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Стипендии и меры поддержки обучающихся</h1>

    <p class="label-contactPod"><a href="">Информация о стипендиях и иных видах поддержки обучающихся ГБПОУ КМТ</a></p>
<div class="label-contactPod">
    <h3>Размеры стипендий:</h3>
    <ul>
        <li>
            Академическая стипендия (базовый размер) – 618 руб. – выплачивается по итогам сессии при успеваемости на «Хорошо» и «Отлично» 
        </li>
    </ul>
</div>
<div class="label-contactPod">
    <p></p>
</div>
<div class="contactPod-table">
    <table class="table">
        <thead>
            <tr>
                <th colspan="4"><p align="center">Выпускники&nbsp;2021 года</p></th>
                <th colspan="7"><p align="center">Каналы занятости выпускников на&nbsp;01.12.2021</p></th>
            </tr>
            <tr>
                <th rowspan="2">
                    <p align="center">Всего</p>
                </th>
                <th colspan="3">
                    <p align="center">В том числе</p>
                </th>
                <th colspan="2">
                    <p align="center">Фактическое трудоустройство</p>
                </th>
                <th colspan="3">
			        <p align="center">Продолжат обучение</p>
			    </th>
                <th rowspan="2">
			        <p align="center">Призваны в ВС РФ</p>
			    </th>
                <th rowspan="2">
			        <p align="center">Присвоен статус безработного в ДТиЗ</p>
			    </th>
            </tr>
            <tr>
                <th>
                    <p align="center">Юношей</p>
                </th>
                <th>
                    <p align="center">Девушек</p>
                </th>
                <th>
                    <p align="center">Лица с ОВЗ</p>
                </th>
                <th>
                    <p align="center">Всего</p>
                </th>
                <th>
                    <p align="center">Из них по профилю</p>
                </th>
                <th>
                    <p align="center">ВУЗ</p>
                </th>
                <th>
                    <p align="center">ПССЗ(СПО)</p>
                </th>
                <th>
                    <p align="center">Другое</p>
                </th>
		</tr>
        </thead>
        <tbody>
		<tr>
			<td>
			<p align="center">507</p>
			</td>
			<td>
			<p align="center">446</p>
			</td>
			<td>
			<p align="center">61</p>
			</td>
			<td>
			<p align="center">0</p>
			</td>
			<td>
			<p align="center">153</p>
			</td>
			<td>
			<p align="center">0</p>
			</td>
			<td>
			<p align="center">94</p>
			</td>
			<td>
			<p align="center">1</p>
			</td>
			<td>
			<p align="center">3</p>
			</td>
			<td>
			<p align="center">248</p>
			</td>
			<td>
			<p align="center">0</p>
			</td>
		</tr>
	</tbody>
    </table>
</div>
{% endblock %}