{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Вступительные испытания</h1>
        <div class="label-contactPod">
            <p>Какой то текст</p>
        </div>
{% endblock %}