{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Специальности и профессии</h1>
     <div class="tab">
                
            <input id="tab-one" type="checkbox" name="tabs">
                <label  for="tab-one">Обращение руководителя</label>
                    <div class="tab-content">
                    <div class="tab-content-first">
                        <p>
                        Приветствую Вас на официальном сайте Новосибирского колледжа питания и сервиса!
                        <br>НКПиС сегодня – это консолидированная площадка, где встречаются представители бизнеса и образования, ведутся переговоры с работодателями о проведении совместных практических занятий и стажировок со специалистами предприятий пищевой индустрии, о сотрудничестве со школами и качественной профориентационной работе. 
                        Обучающимся любого возраста мы помогаем найти перспективные для изучения и занятий направления, профессионалам – программы повышения квалификации, жителям Сибирского региона – программы переподготовки и проведения досуга. 
                        <br>Выбирайте свою траекторию успеха вместе с НКПиС!
                        #Учимбытьуспешными!
                        </p>
                    </div>
                        <div class="tab-content-2">
                            <p class="tab-content-21">Директор</p>
                            <p class="tab-content-22">Федосеева Дарья Сергеевна</p>
                        </div>
                    </div>
            </div>
            </div>
{% endblock %}