{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Специальности и профессии</h1>
      <div class="label-contactPod" >
        <div>
            <div class="tab-page-student">
                
            <input id="tab-one" type="checkbox" name="tabs">
                <label  for="tab-one">Вакансия</label>
                    <div class="tab-content">
                    <div class="tab-content-first-page-student">
                        <p></p>
						<p></p>
						<p></p>
						<p></p>
                    </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}