{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Защита персональных данных</h1>
        <div class="label-contactPod">
            <div>
                <h3 >Законы</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3 >Приказы</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
             <br>
            <div>
                <h3 >Указы, постановления, распоряжения</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
             <br>
            <div>
                <h3 >Рекомендации</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}