{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Охрана труда</h1>
        <div>
                <div class="tab-page-student">   
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Проходные баллы прошлых лет</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <ul>
                                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                                    </ul>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div>
                <div class="tab-page-student">   
                    <input id="tab-one8" type="checkbox" name="tabs">
                        <label  for="tab-one8">Проходные баллы прошлых лет</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <ul>
                                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                                    </ul>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

{% endblock %}