{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Охрана труда</h1>
       <div >
        <div class="label-contactPod" >
            <div class="tab-page-student">   
                    <input id="tab-one1" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one1">ИНСТРУКЦИИ ПО ОХРАНЕ ТРУДА</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                    <div class="text-style">
                                        <div class="label-contactPod"> 
                                                <i class="fa-regular fa-file-pdf">
                                                <a href="{{'/assets/upload/files/'}}"></a>
                                                </i>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div >
        <div class="label-contactPod" >
            <div class="tab-page-student">   
                    <input id="tab-one2" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one2">НОРМАТИВНЫЕ ДОКУМЕНТЫ ПО ОХРАНЕ ТРУДА</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="text-style">
                                        <div class="label-contactPod"> 
                                                <i class="fa-regular fa-file-pdf">
                                                <a href="{{'/assets/upload/files/'}}"></a>
                                                </i>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}