{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Олимпиады, конкурсы и конференции</h1>
    <div class="label-contactPod">
        <ul>
            <li class="li-style-none"><h2>Название олимпиады или конференции</h2></li>
            <li><i class="color-txt">Официальный сайт -</i>&nbsp;<a  class="text-decor" href="ссылка на него">ссылка на сайт укороченная если длинная</a></li>
        </ul>
    </div>
{% endblock %}