{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Олимпиады, конкурсы и конференции</h1>
    <div>
        <ul>
            <li><h2>Название олимпиады или конференции</h2></li>
            <li><i>Официальный сайт<a href="ссылка на него">ссылка на сайт укороченная если длинная</a></i></li>
        </ul>
    </div>
{% endblock %}