{% extends 'main_page/index.html.twig' %}
{% block title %}Олимпиады, конкурсы и конференции{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Олимпиады, конкурсы и конференции</h1>
    <div class="label-contactPod">
        <ul>
    {% for pageCont in pageData %}
        {% if pageCont is not empty %}
            <li class="li-style-none"><h2>{{ pageCont.title|raw }}</h2></li>
            <li><i class="color-txt">Официальный сайт -</i>&nbsp;<a  class="text-decor" href="{{ pageCont.link|raw }}">{{ pageCont.link|raw }}</a></li>
        {% endif %}
    {% endfor %}
        </ul>
    </div>
{% endblock %}