{% extends 'main_page/index.html.twig' %}
{% block title %}Совет ветеранов педагогического труда{% endblock %}
{% block main %}
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
        <div class="news-div">
            <div class="news-date-div">
                <div class="news-border"></div>
                    <div class="news-date">
                        {{ pageCont.date|date('d-m-Y')|raw }}
                    </div>
                </div>
            <div class="news-label">
                <h1>{{ pageCont.title|raw }}</h1>
                <p>{{ pageCont.text|raw }}</p>
                {% for photo in pageCont.photo %}
                    <img src="{{ asset('/assets/upload/img/') ~ photo|raw }}" alt="">
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}