{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Новости</h1>
    <div class="">
                    <div class="">
                        <div class=""></div>
                        <div class="">
                            03.06.2023
                        </div>
                    </div>
                    <div class="">
                        <a href="">Нам с тобой по пути!</a>
                        <br>
                        <p>В КМТ прошёл День открытых дверей</p>
                    </div>
                    <a href="">подробнее</a>
    </div>
{% endblock %}