{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Совет ветеранов педагогического труда</h1>
   <div class="news-div-1">
    <div class="news-div">
                    <div class="news-date-div">
                        <div class="news-border"></div>
                        <div class="news-date">
                            03.06.2023
                        </div>
                    </div>
                    <div class="news-label">
                        <a class="style-link" href="">Нам с тобой по пути!</a>
                        <br>
                        <br>
                        <a class="style-link" href="">подробнее</a>
                    </div>

    </div>
</div>
{% endblock %}