{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Вакансии</h1>
    <div>
        <div>
            <h3>Название должности</h3>
            <div>
                <ul>
                    <li><p>требуемый опыт работы <span></span></p></li>
                    <li><p>требуемая занятость <span></span></p></li>
                    <p>приглашение в команду</p>
                    <h3>Обязанности</h3>
                    <ul>
                    <li></li>
                    </ul>
                    <h3>Условия</h3>
                    <ul>
                    <li></li>
                    </ul>
                    <h3>требования</h3>
                    <ul>
                    <li></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}