{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Профсоюзная организация</h1>
    <div class="label-contactPod">
        <div>
            <h4>Коллективно - договорное регулирование</h4>
            <i class="fa-regular fa-file-pdf"><a href="">a</a></i>
        </div>
        <br>
         <div>
            <h4>Соглашение об изменении коллективного договора.</h4>
            <i class="fa-regular fa-file-pdf"><a href="">a</a></i>
        </div>
        <br>
         <div>
            <h4>Сведения по результатам уведомительной регистрации коллективного договора</h4>
            <i class="fa-regular fa-file-pdf"><a href="">a</a></i>
        </div>
        <br>
         <div>
            <h4>Документы о комиссии по подготовке, заключению и контролю выполнения коллективного договора</h4>
            <i class="fa-regular fa-file-pdf"><a href="">a</a></i>
        </div>
        <br>
         <div>
            <h4>Документы по реализации и контролю за выполнением коллективного договора</h4>
            <i class="fa-regular fa-file-pdf"><a href="">a</a></i>
        </div>
        <br>
    </div>
{% endblock %}