{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Профсоюзная организация</h1>
    <div>
        <h3>Коллективно - договорное регулирование</h3>
        <i><a href="">документ</a></i>
    </div>
{% endblock %}