{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">О центре</h1>
    <div class="label-contactPod">
{% for pageCont in pageData %}
   {% if pageCont is not empty %}
         <p>{{ pageCont.textOne|raw }}</p>

   {% endif %}
{% endfor %}
    
    </div>
{% endblock %}