{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">О центре</h1>
    <div class="label-contactPod">
       <p>Какой либо текст о центре</p>
    <div >
       <p>текст для списка</p>
       <ul>
            <li><p>Текст пунктов</p></li>
       </ul>
    </div>
    </div>
{% endblock %}