{% extends 'main_page/index.html.twig' %}
{% block title %}Расписание промежуточной аттестации{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Расписание промежуточной аттестации</h1>
    <div class="label-contactPod">
        <ul>
    {% for pageCont in pageData %}
        {% if pageCont is not empty %}
            {% for file in pageCont.file %}
                    <li><i class="fa-regular fa-file-pdf"><a class="style-link" href="{{asset('/assets/upload/files/') ~ file|raw }}">{{ pageCont.title|raw }}</a></i></li>
                    
            {% endfor %}
        {% endif %}
    {% endfor %}
        </ul>
    </div>
{% endblock %}