{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Расписание промежуточной аттестации</h1>
    <div>
        <ul>
            <li><i><a href="ссылка на него">Название документа</a></i></li>
        </ul>
    </div>
{% endblock %}