{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Работодателям</h1>
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
    	<p class="label-contactPod">{{ pageCont.text }}</p>
	{% endif %}
{% endfor %}
   <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="1">Код</th>
			<th rowspan="3">Специальность</th>
		</tr>
	</thead>
	<tbody>
{% for pageCont in pageData2 %}
    {% if pageCont is not empty %}
		<tr>
			<td>{{ pageCont.code }}</td>
			<td>{{ pageCont.speciality }}</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}