{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Работодателям</h1>
    <p class="label-contactPod">Текст</p>
   <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="1">Код</th>
			<th rowspan="3">Специальность</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}