{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Работодателям</h1>
    <p>Текст</p>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width:590px;" width="0">
	<tbody>
		<tr>
			<td style="width:85px;height:38px;">
			<p align="center"><strong>Код</strong></p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center"><strong>Специальность</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:38px;">
			<p align="center">23.01.09</p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center">Машинист локомотива</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:53px;">
			<p align="center">23.02.05</p>
			</td>
			<td style="width:505px;height:53px;">
			<p align="center">Эксплуатация транспортного электрооборудования и автоматики (по видам транспорта, за исключением водного)</p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:35px;">
			<p align="center">23.02.06</p>
			</td>
			<td style="width:505px;height:35px;">
			<p align="center">Техническая эксплуатация подвижного состава железных дорог</p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:38px;">
			<p align="center">43.02.06</p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center">Сервис на транспорте (по видам транспорта)</p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:38px;">
			<p align="center">38.02.03</p>
			</td>
			<td nowrap="nowrap" style="width:505px;height:38px;">
			<p align="center">Операционная деятельность в логистике</p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:38px;">
			<p align="center">23.02.01</p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center">Организация перевозок и управление на транспорте (по видам)</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:38px;">
			<p align="center">13.02.06</p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center">Релейная защита и автоматизация электроэнергетических систем</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:38px;">
			<p align="center">13.02.07</p>
			</td>
			<td nowrap="nowrap" style="width:505px;height:38px;">
			<p align="center">Электроснабжение (по отраслям)</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:53px;">
			<p align="center">13.02.11</p>
			</td>
			<td style="width:505px;height:53px;">
			<p align="center">Техническая эксплуатация и обслуживание электрического и электромеханического оборудования (по отраслям)</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:19px;">
			<p align="center">09.02.06</p>
			</td>
			<td nowrap="nowrap" style="width:505px;height:19px;">
			<p align="center">Сетевое и системное администрирование</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:19px;">
			<p align="center">09.02.05</p>
			</td>
			<td style="width:505px;height:19px;">
			<p align="center">Прикладная информатика по отраслям</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:38px;">
			<p align="center">23.02.07</p>
			</td>
			<td nowrap="nowrap" style="width:505px;height:38px;">
			<p align="center">Техническое обслуживание и ремонт двигателей, систем и агрегатов автомобилей</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:38px;">
			<p align="center">13.01.10</p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center">Электромонтер по ремонту и обслуживанию электрооборудования (по отраслям)</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:38px;">
			<p align="center">13.01.14</p>
			</td>
			<td nowrap="nowrap" style="width:505px;height:38px;">
			<p align="center">Электромеханик по лифтам</p>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap" style="width:85px;height:38px;">
			<p align="center">23.01.17</p>
			</td>
			<td style="width:505px;height:38px;">
			<p align="center">Мастер по ремонту и обслуживанию автомобилей</p>
			</td>
		</tr>
	</tbody>
</table>
    </div>
{% endblock %}