{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">В помощь выпускнику</h1>
<div class="label-contactPod">
    <p>Текст</p>
    <div>
        <ul>
            <li><p>текст пунктов списка</p></li>
        </ul>
    </div>
</div>
{% endblock %}