{% extends 'main_page/index.html.twig' %}
{% block title %}В помощь выпускнику{% endblock %}
{% block main %}
    <h1 class="label-contactPod">В помощь выпускнику</h1>
<div class="label-contactPod">
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
        <p>{{ pageCont.textOne|raw }}</p>
        <p>{{ pageCont.textTwo|raw }}</p>

    {% endif %}
{% endfor %}
</div>
{% endblock %}