{% extends 'main_page/index.html.twig' %}
{% block title %}Мониторинг трудоустройства{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Мониторинг трудоустройства</h1>

    <div class="label-contactPod">
        <ul>
        {% for pageCont in pageData %}
            {% if pageCont is not empty %}
                <li><i class="fa-regular fa-file-pdf"><a class="style-link" href="{{asset('/assets/upload/files/')}}{{ pageCont.file|raw }}">{{ pageCont.title|raw }}</a></i></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}