{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Мониторинг трудоустройства</h1>

    <div>
        <ul>
            <li><i><a href="">документы</a></i></li>
        </ul>
    </div>
{% endblock %}