{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Мониторинг трудоустройства</h1>

    <div class="label-contactPod">
        <ul>
            <li><i class="fa-regular fa-file-pdf"><a class="color-txt" class="style-link" href="">документы</a></i></li>
        </ul>
    </div>
{% endblock %}