{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Олимпиады, конкурсы и конференции</h1>
    <div class="label-contactPod">
        <ul>
            <li class="li-style-none"><h4>Название олимпиады или конференции</h4></li>
            <li><i class="color-txt">Официальный сайт&nbsp;</i><a  class="style-link" href="ссылка на него">ссылка на сайт укороченная если длинная</a></li>
        </ul>
    </div>
{% endblock %}