{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Расписание,учебные периоды,каникулы</h1>
    <div class="label-contactPod">
        <ul>
            <li><i class="fa-regular fa-file-pdf"><a class="style-link" href="">Документ об утверждении сроков каникул</a></i></li>
        </ul>
    </div>
    <h5 class="label-contactPod">РАСПИСАНИЕ УЧЕБНЫХ ЗАНЯТИЙ И ПРАКТИК</h1>
    <div class="label-contactPod">
        <div>
            <div class="tab-page-student">
                
            <input id="tab-one" type="checkbox" name="tabs">
                <label  for="tab-one">Расписание</label>
                    <div class="tab-content">
                    <div class="tab-content-first-page-student">
                        <p><a class="style-link" href="">название документа</a></p>
						<p><a class="style-link" href="">название документа</a></p>
						<p><a class="style-link" href="">название документа</a></p>
						<p><a class="style-link" href="">название документа</a></p>
                    </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <h5 class="label-contactPod">РАСПИСАНИЕ ЗВОНКОВ</h1>
    <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="1"></th>
			<th rowspan="1">1 пара</th>
            <th rowspan="1">2 пара</th>
			<th rowspan="1">3 пара</th>
			<th rowspan="1">4 пара</th>
			<th rowspan="1">5 пара</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ул. Зорге, 2</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}