{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1>Вакансии и работодатели</h1>

    <div>
        <div>
        {# Банеры с приглашением на работу #}
        <img src="" alt="">
        </div>
    </div>
{% endblock %}