{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Вакансии и работодатели</h1>

    <div class="label-contactPod">
        <div class="work">
        {# Банеры с приглашением на работу #}
            <img class="img-style" src="{{'/assets/img/work.jpg'}}" alt="">
            &nbsp;
            &nbsp;
            &nbsp;
            <img class="img-style" src="{{'/assets/img/work.jpg'}}" alt="">
        </div>
    </div>
{% endblock %}